body {
    background-color: #181818;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #000;
    height: 65px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 30px;
    margin-left: 219px;
    margin-right: 12px;
  }
  
  .logo h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .barra-pesquisa {
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 300px;
    position: relative;
    align-self: center;
  }
  
  .barra-pesquisa input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    padding-left: 40px;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
  }
  
  .usuario img {
    height: 28px;
    width: 28px;
    border-radius: 0;
    margin-right: 100px;
    margin-left: 12px;
  }
  
  .faq {
    display: flex;
    height: 33px;
    width: 33px;
    margin-left: -80px;
    margin-right: 40px;
  }
  
  main {
    display: flex;
    padding: 20px;
    margin-left: 219px;
    margin-right: 117px;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
  }
  
  .movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .movie-item {
    display: flex;
    align-items: center;
    background-color: #333;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .movie-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .movie-item .movie-name {
    font-size: 18px;
    color: #fff;
  }
  