body {
    background-color: #181818;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #000;
    height: 65px;
    width: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 30px;
    margin-left: 219px;
    margin-right: 12px;
  }
  
  .logo h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
  }
  
  .barra-pesquisa {
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 300px;
    position: relative;
    align-self: center;
  }
  
  .barra-pesquisa input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    padding-left: 40px;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
  }
  
  .usuario img {
    height: 28px;
    width: 28px;
    border-radius: 0;
    margin-right: 100px;
    margin-left: 12px;
  }
  
  .faq {
    display: flex;
    height: 50px;
    width: 33px;
    margin-left: -80px;
    margin-right: 40px;
  }

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    z-index: 1; 
    padding-right: 150px;
}

main {
    text-align: center;
    margin-top: 50px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px; /* Adiciona espaçamento entre os botões */
}

button {
    padding: 8px 30px; /* Ajusta o espaçamento interno dos botões */
    font-size: 18px;
    border: none;
    border-radius: 15px; /* Define bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cadastro {
    background-color: #0000FF;
    color: #fff;
}

#login {
    background-color: #008000;
    color: #fff;
}

#questionario {
    background-color: #BDB76B;
    color: #fff;
}

button:hover {
    opacity: 0.8;
    background-color: #e0e0e0;
    color: #000; /* Altera a cor do texto no hover */
}

.detalhes {
    margin-right: 354px;
    color: #DADADA;
    flex-grow: 1;
}

.detalhes h1 {
    color: white;
    margin-top: 5px;
}

.cargo {
    text-align: left;
    margin-top: -23px;
    font-size: 27px;
}

.titulo {
    color: white;
    margin-top: 310px;
}

.roxo {
    color: #9270DB;
}

.oculto {
    display: none;
}
